NODE_ENV=development
GRPC_PORT=8720
API_PORT=8721

MONGODB_URI=mongodb://root:1111111111111111111@localhost:27017/?authSource=admin&directConnection=true

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USER=
REDIS_PASS="11111111111111111111111111"
REDIS_SSL=0