# Environment
NODE_ENV=testing

# Server
PORT=4000
HOST=localhost

WEB_URL=

MONGODB_ACCOUNT=
MONGODB_GAME=
MONGODB_WEBSITE=

SENDGRID_API_KEY=
SENDGRID_FROM=
SENDGRID_FROM_NAME=

EMAIL_VERIFICATION_TEMPLATE=
RECOVER_PASSWORD_TEMPLATE=